* {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(14, 21, 37);
	color: white;
	font-family: 'Poppins', sans-serif;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 80px;
	background-color: rgb(28, 35, 51);
}

nav ul {
	display: flex;
	justify-content: center;
}

nav ul li {
	list-style: none;
	margin: 0 23px;
}

nav ul li a {
	text-decoration: none;
	color: white;
}

nav ul li a:hover {
	color: rgb(87, 171, 255);
	font-size: 1.1rem;
}

.left {
	font-size: 1.5rem;
	justify-content: left;
}

.left a {
	color: white;
	text-decoration: none;
}

.left a:hover {
	color: rgb(87, 171, 255);
	font-size: 1.55rem;
}

.firstSection {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 10vh 5vw;
}

.firstSection>div {
	width: 35%;
	max-width: 50vw;
}

.leftSection {
	font-size: 2rem;
}

.leftSection .btn {
	padding: 11px 26px;
	background-color: #0e1525;
	color: white;
	border: -3px solid white;
	border-radius: 15px;
	font-size: 1.1rem;
	width: 12vw;
	margin: 5vh 2.77vw;
	cursor: pointer;
}

.leftSection .btn a {
	text-decoration: none;
	color: white;
}

.leftSection .btn a:hover {
	color: rgb(87, 171, 255);
	font-size: 1.1rem;
}

.rightSection img {
	margin: 20px 0;
	max-width: 100%;
	height: auto;
}

.blue {
	color: rgb(92, 101, 125);
}

#element {
	color: rgb(92, 101, 125);
}

.secondSection,.fourthSection {
	max-width: 80vw;
	margin: auto;
  height:auto;
	flex-wrap: wrap;
  flex-direction:column;
}

.para {
	margin-top: 2.5vh;
}


.thirdSection .box {
  
	background: white;
	width: 80vw;
	height: 3px;
	display: flex;
  margin-block-start:90px;
  margin-block-end:10px;
}

.thirdSection .vertical {
	background: white;
	height: 11.25vh;
	width: 1px;
	margin: 0px 13vw;
}

.thirdSection {
  display:flex; 
	flex-wrap: wrap;
  flex-direction:column;   
	width: 80vw;
	margin: auto;
	height: 450px;
}



main hr {
	border: 0;
	height: 1px;
	background: rgb(92, 101, 125);
	margin: 5vh 8vw;
}

.text-gray {
	color: gray;
}

.vertTitle {
	position: relative;
	top: 5vh;
	left: -5vw;
	width: 180px;
}

.vertDesc {
	position: relative;
	top: 7vh;
	left: -5vw;
	font-size: 0.5rem;
	width: 180px;
	height: 20vh;
	color: gray;

}

.topImage {
	height: 55px;
	width: 72px;
	position: relative;
	top: -8vh;
	left: -2vw;
}

footer {
	background-color: #14171d;
}

.ffooter {
	width: 100%;
	height: 100%;
	display: flex;
	padding: 2.5vh 0vw;
	justify-content: space-evenly;
}
  .descrip {
    margin-top:10px;
    display: flex;
    flex-direction:column;
    
  }


.ffooter ul {
	list-style: none;
}

footer .footer-rights {
	text-align: center;
	color: gray;
	padding: 12px 0;
}


@media (max-width: 1000px) {
  nav{
    flex-direction:column;
    justify-content:center;
  }

	.firstSection,.secondSection,.fourthSection
 {  height:auto;
		flex-wrap: wrap;
    flex-direction:column-reverse;
    align-items:center;
	}
  
  .thirdSection .vertical{
    height:unset;
    height: 180px;
	  margin: 0vw 13vw;
  }
  
  .box{
    
    margin-block-start:90px;
    margin-block-end:10px;
    flex-direction:column;
    width:30vw;
  }
  .vertTitle,.vertDesc{
    left:45px;
  }
  .descrip {
    margin-bottom:10px;
    font-size:10px;
    
  }
  .leftSection {
   	width:100% !important;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
  }
  .rightSection {
    width:500px !important;
        display:flex;
    justify-content:center;
  }
    .rightSection img{
      width:45vw;
        margin-bottom:50px;
  }

  
  .thirdSection{
    height:700px;
    display:flex;
    flex:wrap;
    flex-direction:column;
    align-items:center;
  }
  body{
    min-width: fit-content;
  }
    footer .ffooter {
    padding: 2.5vh 0vw; 
    display:flex;
    flex-direction:column;
      
    justify-content:center;
      
    align-items:center;
      
  }
  .leftSection .btn {
    width: fit-content ;
    margin:10px 5px;
  }

  .topImage {
	height: 30px;
	width: 50px;
	position: relative;
	top: 80px;
	left: -50px;
  }


}

