
/* Media Queries

@media (max-width: 900px) {
  .firstSection,
  .secondSection,
  .thirdSection,
  .fourthSection,
  .fifthSection {
    margin: 5vh 5vw;
    padding: 2vh 5vw;
    height:auto;
    flex-wrap:wrap;
    
  }

  .firstSection > div {
    width: 100%;
  }

  .leftSection .btn {
    width: 100%;
  }

  .rightSection img {
    max-width: 100%;
    height: auto;
  }

  main hr {
    margin: 2vh 5vw;
  }
   .thirdSection .box{
    width:auto;
  }
 


   .vertTitle {
    top: 2vh;
    left: -5vw;
    width: 120px;
  }

  .vertDesc {
    top: 3vh;
    left: -5vw;
    font-size: 0.4rem;
    width: 120px;
    height: auto;
  }


  footer .ffooter {
    padding: 2.5vh 5vw;
  }

  .secondSection p {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .para {
    font-size: 16px;
  }
}
*
@media (max-width: 600px) {
  nav ul li {
    margin: 0 10px;
  }
  .firstSection,
  .secondSection,
  .thirdSection,
  .fourthSection,
  .fifthSection
   {
    margin: 2.5vh 2.5vw;
    height:auto;
    padding: 2.5vh 2.5vw;
     
    flex-wrap:wrap;
  }

  .leftSection .btn {
    margin: 20px 0;
  }

  .rightSection img {
    margin: 20px 0;
  }

  main hr {
    margin: 2vh 2.5vw;
  }
  .thirdSection .box{
    height:auto;
  }
   .vertTitle {
    top: 2vh;
    left: -2.5vw;
    width: 100px;
  }

  .vertDesc {
    top: 3vh;
    left: -2.5vw;
    font-size: 0.3rem;
    width: 100px;
    height: auto;
  }


  footer .ffooter {
    padding: 2.5vh 2.5vw;
  }

  .secondSection p {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .para {
    font-size: 14px;
  }
}
 */