<!DOCTYPE html>
<html>
   <head>

      <link rel="icon"
         type="image/ico"
         href="static/favicon.ico">
      <title>
         Kartik Gupta
      </title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="static/style.css">
   </head>
   <body>
      <header>
      <nav>
         <div class="left">    <a href="/"> Kartik Gupta</a></div>
         <div class="right">
            <ul>
               <li><a href="https://www.instagram.com/kartik.___.gupta/">Instagram</a></li>
               <li><a href="https://www.linkedin.com/in/kartik-gupta-143858185/">Linkedin</a></li>
               <li><a href="https://github.com/itsmekartikgupta">Github</a></li>
               
<li><a href="mailto:kgupta6_be20@thapar.edu?subject=Project%20Inquiry">E-Mail</a></li>
            </ul>
         </div>
      </nav>
      <main>
         <section class="firstSection">
            <div class="leftSection">
               Hi, I am <span class="blue">Kartik Gupta</span>  
               <div>
                  a motivated & self-taught
               </div>
               <div>
                  <span id="element"></span>
                  <div class="button">
                     <button class="btn"><a href="/download">Download Resume</a></button> 
                    <button class="btn"><a href="https://www.linkedin.com/in/kartik-gupta-143858185/">My Linkedin</a></button>
                  </div>
               </div>
            </div>
            <div class="rightSection">
               <img src="static/bg.png" height=100% width=100%>
            </div>
         </section>
         <hr>
<section class="secondSection">
   <span class="text-gray"><i>[Get to know me]</i></span>
   <h1>About</h1>
   <div class="para">
👋 Hi there! I'm Kartik Gupta, a undergraduate student at Thapar Institute of Engineering and Technology. My journey in the world of technology has led me to dive deep into the fascinating realms of cutting-edge technologies.I'm always on the lookout for innovative solutions that push the boundaries of what's possible.
   </div>
   <div class="para">
Some of my key areas of interest and expertise include:
   </div>
   <div class="para">
🌟 Developing mind-blowing web applications that captivate and engage users.
🌟 Exploring the endless possibilities of AI, ML, and DL, unraveling their potential to revolutionize various industries.
🌟 Harnessing the power of cloud computing to build scalable and efficient solutions that meet the demands of modern businesses.
   </div>
   <div class="para">
I am well-versed in several programming languages and technologies, including C,C++,Python,Flask,HTML,CSS,SQL, and have a solid foundation in data structures and algorithms. I thrive on solving complex problems and enjoy the challenge of finding elegant and efficient solutions.
   </div>
   <div class="para">
Beyond the tech world, I have a keen understanding of financial markets and public policy. This knowledge enables me to approach projects from a well-rounded perspective, considering both the technical and business aspects.
   </div>
   <div class="para">
I am currently seeking exciting opportunities that allow me to further expand my skills, work on impactful projects, and collaborate with like-minded individuals. 
   </div>

     <div class="para">
           ✨🚀 Let's collaborate and create amazing experiences together! ✨🚀
   </div>
</section>




         <hr>
         <section class="thirdSection">
            <span class="text-gray"><i>[Things I have done so far]</i></span>
            <h1>Work Experience & Projects</h1>
            <div class="box">
               <div class="vertical">
                  <img class="topImage" src="static/drone.png" alt="">
                  <div class="vertTitle">
                     Research Intern
                     (2020-2022)
                  </div>
                  <div class="vertDesc">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </div>
               </div>
               <div class="vertical">
                  <img class="topImage" src="static/drone.png" alt="">
                  <div class="vertTitle">
                     Research Intern
                     (2020-2022)
                  </div>
                  <div class="vertDesc">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </div>
               </div>
               <div class="vertical">
                  <img class="topImage" src="static/drone.png" alt="">
                  <div class="vertTitle">
                     Research Intern
                     (2020-2022)
                  </div>
                  <div class="vertDesc">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </div>
               </div>
            </div>
         </section>
         <hr>
         <section class="fourthSection">
            <span class="text-gray"><i>[I am proud of acheiving]</i></span>
            <h1>Position of Responsibility & Achievements</h1>
 <div class="para">
🏆 Scored a perfect 10 CGPA in the first semester at TIET, and currently a merit scholarship holder.
   </div>
   <div class="para">         
🥉 Secured the 3rd position in a team-based Political Analysis Event conducted by IIT Kanpur, competing against 1000+ students from 100 colleges
      </div> 
 <div class="para">
✅ Completed the E-Box coding platform offered by TIET for Computer Programming.
   </div>  
  <div class="para">
🌟 Completed the AWS Academy Fundamentals of Cloud Foundations Course.
   </div>          

           
         </section>
         <hr>
         <section class="fifthSection">
            <span class="text-gray"><i>[Reach out to me]</i></span>
            <h1>Contact Me</h1>
         </section>
      </main>
      <footer>
         <div class="ffooter">
            <div class="ffirst">
               <h2>Quick Links</h2>
            </div>
            <div class="fsec">
               <ul>
                  <li>link1</li>
                  <li>link2</li>
                  <li>link3</li>
               </ul>
            </div>
            <div class="fthird">
               <ul>
                  <li>link1</li>
                  <li>link2</li>
                  <li>link3</li>
               </ul>
            </div>
         </div>
         <div class="footer-rights">
            Copyright &#169;kartiksportfolio.com | All rights reserved
         </div>
      </footer>
      <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
      <script>
         var typed = new Typed('#element', {
           strings: ['Computer Vision Engineer',  'Software Engineer','Algorithmic Trader','Python Web Developer'],
           typeSpeed: 50,
         });
      </script>     
   </body>
</html>